*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Century Gothic;
}
html, body{
    color: #FFF;
    background-color: #171717; 
    height: 100vh; 
}
nav{
    background-color: #171717;
}
nav a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.3em;
}
nav a:hover{
    color: #F70;
}
.banner img{
    width: 100%;

}
h1{
    font-weight: bold;
}
.sobre h3{
    color: #f70;
}
.equipe h1{
    color: #000;
}
.equipe{
    background-color: #F70;
}
.img-equipe img{
    width: 90%;
    border: 3px solid #000;
    border-radius: 10px;
}
.equipe{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media(max-width: 1210px){
    .img-equipe img{
        width: 80%;
    }
}
@media(max-width: 780px){
    .equipe div{
        display: inline-block;
    }
}
.conteudo-rodape {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.conteudo-rodape .direitos{
    grid-column-start: span 2;
    opacity: 50%;
}
@media(max-width: 780px){
    .conteudo-rodape{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.rodape h2{
    font-weight: bold;
}
.rodape .dir h2{
    color: #f70;
}
.rodape a {
    text-decoration: none;
    color: #FFF;
}
.rodape a:hover{
    color: #f70;
}
.rodape .direitos h6{
    font-size: 0.7em;
}